<aside class="aside--left">
  <div class="aside__header">
    {{#link-to 'index'}}Finpal{{/link-to}}
  </div>
  <nav>
    <ul>
      <li>
        {{#link-to 'index'}}Overview{{/link-to}}
      </li>
      <li>
        {{#link-to 'transactions'}}Transactions (3){{/link-to}}
      </li>
    </ul>
    <ul>
      <li>Transfers (2)</li>
      <li>Invoices (1)</li>
    </ul>
    <ul>
      <li>Manage cards</li>
      <li>Manage accounts</li>
    </ul>
    <ul>
      <li>Team</li>
      <li>Integrations</li>
      <li>Settings</li>
    </ul>
  </nav>
</aside>
