{{partial "components/aside-left"}}

<main>
  <header></header>
  <section class="view">
    {{outlet}}
    <table>
      {{#each model as |transaction|}}
        {{component transaction-row transaction=transaction}}
      {{/each}}
    </table>
  </section>
</main>

{{partial "components/aside-right"}}
